<html>
    <head>
        <!-- <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/base-min.css"/> -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>
    <body style="margin:2em;padding:10px">

    {% include 'header.html' %}
    {% include 'information.html' %}

    <h3> Statistics </h3>

    <p> Number of theories: {{num_theories}} <br/>
    <p> Number of unique constructs: {{num_constructs}} <br/>
    <p> Number of triples: {{num_triples}} </p>

    <h3> Search </h3>

     <p>
    <form action="/searchTheory" method="post" name="searchTheory">
        To search for a theory by name, enter a search string:  <input type = "search" name="searchtheory"> <input type="submit" value="Search Theory">
    </form>
     </p>

     <p>
    <form action="/searchConstruct" method="post" name="searchConstruct">
        To search for a construct within a theory, enter a search string: <input type = "search" name="searchconstruct"> <input type="submit" value="Search Construct">
    </form>
    </p>

     <p>
    <form action="/searchRelation" method="post" name="searchRelation">
        To search for a triple by relation type, enter a search string:  <input type = "search" name="searchrelation"> <input type="submit" value="Search Relation">
    </form>
     </p>

    <h3> Browse theories </h3>

     <p> To view the content of a theory, you can select a theory from the list: </p>
     <ul>
    {% for item in theories %}
        <li> <a href="/theory/{{item.number}}">{{item.number}}: {{item.name}} </a> </li>
    {% endfor %}
     </ul>

     <p/>
     {% include 'footer.html' %}
    </body>
</html>

