
    <div class="alert alert-info" role="alert">

     <p> This is a searchable database of theories of behaviour change that have been formalised according to an <a href="https://osf.io/q25nw/" class="alert-link">Ontology-Based Modelling System</a>. </p>

     <p>For more information, see:
         <ul><li> West, R., Godinho, C. A., Bohlen, L. C., Carey, R. N., Hastings, J., Lefevre, C. E., & Michie, S. (2019). Development of a formal system for representing behaviour-change theories. Nature human behaviour, 3(5), 526. <a href="http://doi.org/10.1038/s41562-019-0561-2" class="alert-link">doi.org/10.1038/s41562-019-0561-2</a>.</li>
             <li> Hale, J., Hastings, J., West, R., Lefevre, C. E., Direito, A., Connell Bohlen, L., Godinho, C., Anderson, N., Zink, S., Goarke, H., and Michie, S. (2020) An ontology-based modelling system (OBMS) for representing behaviour change theories applied to 76 theories [version 1; peer review: awaiting peer review]. <a href="https://wellcomeopenresearch.org/articles/5-177" class="alert-link">Wellcome Open Research</a>.</li>
        </ul>
     </p>

    </div>


