<html>

<head>
    <!-- <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/base-min.css"/> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.20.0/cytoscape.min.js"
        integrity="sha512-cjmYAonfXK+azDmWqvnqq8xmygHRHqVI7S0zuRxQnvcYVeoakwthRX6pPKoXfG1oIjDvMUtteRV9PhQjJwKWxQ=="
        crossorigin="anonymous"></script> -->
        <!-- using modified version of cytoscape locally here: -->
        <script src="{{url_for('static', filename='cytoscape.min.js')}}"></script> 
        
        <!-- fcose layout test: -->
        <script src="https://unpkg.com/layout-base/layout-base.js"></script>
        <script src="https://unpkg.com/cose-base/cose-base.js"></script>
        <script src="https://unpkg.com/cytoscape-fcose/cytoscape-fcose.js"></script>
       
    <title>Visualise Merged Theories</title>
    <h1>Visualise Merged Theories</h1>
</head>

<body style="margin:2em;padding:10px">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="col-12">
                    <h4 id="s-name" class="fixed"></h4>
                </div class="col-12">
            </div>
        </div>
    </div>
    <div id="button-div">
        <button id="toggle-labels" type="button" class="btn btn-outline-secondary" onclick="element_label_edge = !element_label_edge; console.log(element_label_edge); changeCy();" value="Toggle edge labels">Toggle edge labels</button>
    </div>

    <div id="cy"></div>


<style>
    #cy {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 200px;
        left: 0px;
    }
</style>

<script type="text/javascript">
    //on window load:
    $(document).ready(function(){
        //text colours:
        //change key text colour:
        keyColours = ["orange", "cyan", "magenta","yellow", "red", "brown"];
        var key = [];
        var keyText = "{{colourKey | safe}}";
        key = keyText.split(",");
        for (var i = 0; i < key.length; i++){
            $("#s-name").append("<span style='color:" + keyColours[i] + ";'>" + key[i] + "</span");                
        }
        $("#s-name").append("<span style='color: green;'> Shared</span");
        element_label_edge = true;   
        loadCy('grey');
            
    });

    function loadCy(text_colour){
        //set background of page to grey:
        $('body').css('background-color', '#f5f5f5');
            window.addEventListener('resize', function(event){
            cy.center();
        });
        
        cyto = {{cyjs | tojson | safe}};

        var cy = cytoscape({

        container: document.getElementById('cy'), // container to render in

        elements: cyto,
       

        style: [ // the stylesheet for the graph
            {
                selector: 'node',
                style: {
                    // 'compound-sizing-wrt-labels': 'exclude',
                    // 'width': '200',
                    //text wrapping:
                    // 'color':'grey', //text colour?
                    'color': (node) => {return (node.data('color') =='white') ? 'grey' : 'black'},
                    'text-wrap': 'wrap',
                    'text-max-width':'300px',
                    // 'border-color': 'black', 
                    // 'border-width': '1px',
                    // 'border-opacity': 'opaque',
                    // 'border-style': 'solid', //not using
                    //label inside node:
                    'text-halign': 'center',
                    'text-valign': 'center',
                     
                    //todo: width and height 'label' deprecated. see https://stackoverflow.com/questions/68399821/cytoscape-js-warning-the-style-value-of-label-is-deprecated-for-width-whe
                    'width': 'label',
                    // 'width': (node) => { return node.data('name').length * 7 },
                    'height': (node) => { return node.data('name').length + 6},
                    // height': 'label',
                    'shape': 'round-rectangle',
                    'background-color': 'data(color)',
                    'label': 'data(label)',
                    'selectable': 'true',
                    
                    
                }
            },

            {
                selector: 'edge',
                style: {
                    'width': 1,
                    'line-color': '#000',
                    'line-style': 'dotted',
                    'label':'data(label)',
                    'color': text_colour, //text colour!
                    'target-arrow-color': '#000',
                    'target-arrow-shape': 'triangle',
                    'curve-style': 'bezier'
                }
            },
            //correct way to do parent styling (boxes):
            {
                selector: ':parent',
                style: {
                    'color': 'black',
                },
                css: {
                    'text-valign': 'center',
                    'text-halign': 'center',
                    'border-color': 'red',
                    'selectable': 'true',
                }
            },

            {
                selector: "node:selected", //works! 
                style: {
                    // 'z-compound-depth': 'top', //moves to top (over ALL other nodes, even sub-nodes)
                    // "background-color": "#33ff00",
                    // "border-color": "#22ee00"
                }
            },

            // test parent styling - not working..
            // {
            // selector: 'parent',
            //     style: {
            //         'border-color': 'data(parentColor)',
            //         'line-color': 'black',
                    
            //         'target-arrow-color': 'black',
            //         'source-arrow-color': 'black'
            //     }
            // }
        ],

        layout: {
            

            name: 'fcose',
            // 'draft', 'default' or 'proof' 
            // - "draft" only applies spectral layout 
            // - "default" improves the quality with incremental layout (fast cooling rate)
            // - "proof" improves the quality with incremental layout (slow cooling rate) 
            quality: "proof",
            // Use random node positions at beginning of layout
            // if this is set to false, then quality option must be "proof"
            randomize: false, 
            // Whether or not to animate the layout
            animate: false, 
            // Duration of animation in ms, if enabled
            // animationDuration: 1000, 
            // Easing of animation, if enabled
            // animationEasing: undefined, 
            // Fit the viewport to the repositioned nodes
            fit: true, 
            // Padding around layout
            padding: 30,
            // Whether to include labels in node dimensions. Valid in "proof" quality
            nodeDimensionsIncludeLabels: true,
            // Whether or not simple nodes (non-compound nodes) are of uniform dimensions
            uniformNodeDimensions: false,
            // Whether to pack disconnected components - cytoscape-layout-utilities extension should be registered and initialized
            packComponents: true,
            // Layout step - all, transformed, enforced, cose - for debug purpose only
            step: "all",
            
            /* spectral layout options */
            
            // False for random, true for greedy sampling
            samplingType: true,
            // Sample size to construct distance matrix
            sampleSize: 25,
            // Separation amount between nodes
            nodeSeparation: 75,
            // Power iteration tolerance
            piTol: 0.0000001,
            
            /* incremental layout options */
            
            // Node repulsion (non overlapping) multiplier
            nodeRepulsion: node => 45000,
            // Ideal edge (non nested) length
            idealEdgeLength: edge => 50,
            // Divisor to compute edge forces
            edgeElasticity: edge => 0.15,
            // Nesting factor (multiplier) to compute ideal edge length for nested edges
            nestingFactor: 0.6,
            // Maximum number of iterations to perform - this is a suggested value and might be adjusted by the algorithm as required
            numIter: 2500,
            // For enabling tiling
            tile: true,  
            // Represents the amount of the vertical space to put between the zero degree members during the tiling operation(can also be a function)
            tilingPaddingVertical: 10,
            // Represents the amount of the horizontal space to put between the zero degree members during the tiling operation(can also be a function)
            tilingPaddingHorizontal: 10,
            // Gravity force (constant)
            gravity: 0.25,
            // Gravity range (constant) for compounds
            gravityRangeCompound: 1.5,
            // Gravity force (constant) for compounds
            gravityCompound: 1.0,
            // Gravity range (constant)
            gravityRange: 3.8, 
            // Initial cooling factor for incremental layout  
            initialEnergyOnIncremental: 0.3,

            /* constraint options */

            // Fix desired nodes to predefined positions
            // [{nodeId: 'n1', position: {x: 100, y: 200}}, {...}]
            fixedNodeConstraint: undefined,
            // Align desired nodes in vertical/horizontal direction
            // {vertical: [['n1', 'n2'], [...]], horizontal: [['n2', 'n4'], [...]]}
            alignmentConstraint: undefined,
            // Place two nodes relatively in vertical/horizontal direction
            // [{top: 'n1', bottom: 'n2', gap: 100}, {left: 'n3', right: 'n4', gap: 75}, {...}]
            relativePlacementConstraint: undefined,

            /* layout event callbacks */
            ready: () => {}, // on layoutready
            stop: () => {} // on layoutstop
        }

        });
        
        cy.on('mouseover', 'node', function(evt) { 
            try{ p = evt.target.data('parent');
            //remove duplicates:
            let psorted = p.filter((c, index) => {
                return p.indexOf(c) === index;
            });
            coloured = false;
            for (var a = 0; a < psorted.length; a++) {
                n = psorted[a];            
                cy.filter(function(element, i){    
                   if( element.isNode() && element.isParent()){
                    if (element.data('name') == n){
                        st = element.style('background-color');
                        // console.log(st + " : " + a);
                            element.style('background-color', 'grey');
                            element.style('z-compound-depth', 'auto');
                            // element.style('z-compound-depth', 'top'); //not quite right
                            // element.selectable(true);
                            // element.select();//not working..
                    }                                 
                  }
                });
            }
        } catch(err){
                // console.log("error: " + err);
            }
        });

        cy.on('mouseout', 'node', function(evt) { 
            try{  p = evt.target.data('parent');
                //remove duplicates:
                let psorted = p.filter((c, index) => {
                    return p.indexOf(c) === index;
                });
                coloured = false;
                // console.log("psorted: " + psorted);
                for (var a = 0; a < psorted.length; a++) {
                    n = psorted[a];            
                    cy.filter(function(element, i){    
                    if( element.isNode() && element.isParent()){
                        if (element.data('name') == n){
                            st = element.style('background-color');    
                            element.style('background-color', 'white');
                            element.style('z-compound-depth', 'bottom');
                        }
                                    
                    }
                    });
                }
            } catch(err){
                // console.log("error: " + err);
            }
            
        });

            cy.filter(function(element, i){
               
                if( element.isNode() && element.isParent()){
                    element.children().forEach(function(child){
                        child.style('background-color', 'green');
                        // child.style('shape', 'diamond');
                        // child.style('background-color', '#f0f0f0');
                        // console.log(child.data('name'));
                    });
                    // element.style('line-style','dashed'); //not working at all..
                    // element.style('color', 'blue');
                    //random colour:
                    // element.style('background-color', '#' + Math.floor(Math.random()*16777215).toString(16));
                    //other options:
                    // element.style('background-color','blue'); //works
                    // element.style('background-opacity, 0.5'); //doesn't work with background-color
                    // element.style('background-fill', 'radial-gradient'); //just light grey..
                    // element.style('background-gradient-stop-colors', 'red', 'yellow', 'magenta');
                    // element.style('background-image', 'https://upload.wikimedia.org/wikipedia/commons/b/b4/High_above_the_Cloud_the_Sun_Stays_the_Same.jpg');
                    // element.style('background-image-opacity', 0.5);
                    // element.style('background-fit', 'cover cover');

                    element.style('border-color', 'red');
                    return(element.data('label'));
                    // show order via animations
                   
                }
            });
        }

        function changeCy(){
        if(element_label_edge == false){
            loadCy('white');
        } else{
            loadCy('grey');
        }
    }
</script>

</html>
