<html>
    <head> <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/base-min.css"/> </head>
    <body style="margin:2em;padding:10px">
    <h1>
     Theory Database (prototype)
     </h1>
    <h2>
     Search Results
     </h2>

     {% if len_results > 0 %}

     <p> Your search for '{{string}}' in the theory name found the following results: </p>
    <ul>
    {% for item in results %}

    <li> Theory <a href="/theory/{{item}}"> {{item}} : {{results[item]}} </a>  </li>
    {% endfor %}
    </ul>
     <p> </p>

     {% endif %}

      {% if len_results == 0 %}
        Sorry, '{{string}}' does not appear in any theory names.
      {% endif %}

      <p/>

      <p> <a href="/">Home</a> | <a href="mailto:j.hastings@ucl.ac.uk">Contact</a> </p>

    </body>
</html>

