<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/@popperjs/core@2">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <!-- <script type="text/javascript">
            $(function () {
            $('[data-toggle="tooltip"]').tooltip()
            })
        </script> -->

        <title>Theory Database - Theory {{theory.number}}: {{theory.name}}</title>
    </head>
    <body style="margin:2em;padding:10px">

    {% include 'header.html' %}

    {% include 'information.html' %}

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="theory-tab" data-toggle="tab" href="#theory" role="tab" aria-controls="theory" aria-selected="true">Theory</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="triples-visualisation-tab" data-toggle="tab" href="#triples-visualisation" role="tab" aria-controls="triples-visualisation" aria-selected="false">Triples Visualisation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="ontology-annotations-tab" data-toggle="tab" href="#ontology-annotations" role="tab" aria-controls="ontology-annotations" aria-selected="false">Ontology annotations visualisation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="obms-visualisation-tab" data-toggle="tab" href="#obms-annotations" role="tab" aria-controls="obms-visualisation" aria-selected="false">OBMS visualisation</a>
        </li>
      </ul>

  <div class="tab-content" id="myTabContent">

   <div class="tab-pane fade show active" id="theory" role="tabpanel" aria-labelledby="theory-tab">

    <h3>
            Theory {{theory.number}}: {{theory.name}}
    </h3>


    <p class="text-center">
        <img src="{{wc_image_file}}"/> <br/>
        Number of Constructs: {{theory.getNumConstructs()}} <br/>
        Number of Triples: {{theory.getNumTriples()}}
    </p>

     <h3> Theory triples </h3>
     <p>
     <ul>

    {% for item in theory.triples %}
        <li>{% if item.const1.definition %}<a href="#" data-toggle="tooltip" title="{{item.const1.definition}}" >{{item.const1.name}}</a>{% else %} {{item.const1.name}} {% endif %} <i>{{item.relStr.lower()}}</i> {% if item.const2.definition %}<a href="#" data-toggle="tooltip" title="{{item.const2.definition}}" >{{item.const2.name}}</a>{% else %}{{item.const2.name}}{% endif %}</li>
    {% endfor %}

    </ul>
    </p>    
    <h3> <a name="constructs">Theory constructs and annotations</a> </h3>
   
    <p>
    <ul>
    {% for item in theory_constructs %}
    <li>
        <b>{{item[0]}}</b>
        <i>{{item[1]}}</i>
        {{ "[" if item[2] else "" }}
        {% for i in item %}

            {% if "BCIO" in i %}
                {% if loop.index > 3 %}
                    ,
                {% endif %}
                <a href="{{'https://bciovocab.org/' + i.split()[0]}}" target='_blank' data-toggle='popover' class='popover-toggle' title='click for vocab'>{{i}}</a>
            {% elif "ADDICTO" in i %}
                {% if loop.index > 3 %}
                    ,
                {% endif %}
                <a href="{{'https://addictovocab.org/' + i.split()[0]}}" target='_blank' data-toggle='popover' class='popover-toggle' title='click for vocab'>{{i}}</a>
            {% else %}

                {% if loop.index > 2 %}
                    {% if i|int(-1) != -1 %} <a href="{{i}}#constructs">{{i}}</a> {% else %} {{i if loop.index == 3 else ", "+i}} {% endif %}
                {% endif %}

            {% endif %}

        {% endfor %}
        {{ "]" if item[2] else "" }}
        
    </li>
    {% endfor %}
    </ul>
    </p>
  </div>
   
  

  <div class="tab-pane fade" id="triples-visualisation" role="tabpanel" aria-labelledby="triples-visualisation-tab">
    <h3> Theory illustration </h3>

     <p> <img src="{{net_image_file}}"/> </p>

     <p> </p>

     {% if theory.getCountReferences() == 1 %}
     <h3> Theory Reference </h3>
     {% else %}
     <h3> Theory References </h3>
     {% endif %}
     <p><ul>
    {% for item in theory.taken_from %}
        <li>{{item}}</li>
    {% endfor %}
    {% for item in theory.supplemented_by %}
        <li>{{item}}</li>
    {% endfor %}

    </ul></p>

  </div>

 <div class="tab-pane fade" id="ontology-annotations" role="tabpanel" aria-labelledby="ontology-annotations-tab">
     Visualisation open in new tab 
    <!-- <iframe height="500" width="500" 
        src="http://127.0.0.1:5000/viewAnnotations">         
     </iframe> -->
    <!-- <div class="container">
        <div class="row">
            <div class="col-md-12 bg-light text-center">
                <button id="show-view-annotations" class="btn btn-outline-info" onclick="showViewAnnotations()"
                >Visualise theory with annotations</button>
            </div>
        </div>
    </div> -->
 </div>  
    {% include 'footer.html' %}
    </body>
    </html>
    <script type="text/javascript">
        $(document).ready(function(){
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var target = $(e.target).attr("href") // activated tab
            if(target == "#ontology-annotations"){
                showViewAnnotations();
            }
            // alert(target);
            });
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
            
        })
        function showViewAnnotations() {
                var selected = [];
                selected.push({{theory.number}});
                //send selected theories to server with formdata
                window.open('', 'VisualisationWindow');
                var form = document.createElement("form");
                form.setAttribute("method", "post");
                form.setAttribute("action", "{{url_for('show_view_annotations')}}");
                form.setAttribute("target", 'VisualisationWindow');
                var input = document.createElement('input');
                input.type = 'hidden';
                input.name = "theories";
                input.value = JSON.stringify(selected);
                form.appendChild(input);
                document.body.appendChild(form);
                form.submit();
                document.body.removeChild(form);
                cleanup();
            }
        </script>


